
/*颜色*/
$color-violet:#586689;
$color-yellow:#ffb43d;
$color-gray:#a6aebd;
$color-gray-new:#999;
$color-green:#7addbd;
$color-red: rgb(252, 112, 112);
$color-red-light:#fab194;
$color-red-very-light: #fce5e7;
$color-bg-gray:#f9fafc;
$mainBtnHover: rgb(252, 88, 80);
$skeleton-bg: #f6f6f6;
$new-btn-bg:#fff7eb;